body {
    background-image: url(coding.jpg);
    background-size: 100%;
}

.htmlgif {
    position: absolute;
    left: 50px; top: -10px;
    background-image: url(giphy.gif);
    height: 150px; width: 200px;
    background-size: 100% 100%;
    z-index: 2;
}

.cssgif {
    position: absolute; 
    right: -15px; top: -55px;
    background-image: url(skycss.gif);
    height: 250px; width: 320px;
    background-size: 100% 100%;
    z-index: 2;
}

.title {
    position: absolute;
    left: 10px; right: 10px;
    background-color: #BE93D4;
    text-align: center;
    padding: 13px;
    width: 96%;
    height: 14%;
    border-radius: 10px;
    z-index: 3;
    border-style: outset;
    border-width: 5px;
    border-color: indigo;
}

.title p1{
    color: whitesmoke;
    font-size: 35px;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Press Start 2P', cursive;
    word-spacing: 15px;
  }

  h1 span {
    font-size: 70px ;
    transform-origin: bottom;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 300px;
    width: 50px;
    left: 50;
    top: 40px;
    position: absolute;
    text-shadow: 2px 2px 4px white;
    }
    .c1 {
    transform: rotate(-25deg);
    color: purple;
    }
    .c2 {
    transform: rotate(-15deg);
    color: indigo;
    }
    .c3 {
    transform: rotate(-6deg);
    color: blue;
    }
    .c4 {
    transform: rotate(3deg);
    color: green;
    }
    .c5 {
    transform: rotate(10deg);
    color: yellow;
    }
    .c6 {
    transform: rotate(16deg);
    color: orange;
    }
    .c7 {
    transform: rotate(24deg);
    color: red;
    }

.navbar {
    position: absolute; top: 164px; left: 10px;
    overflow: hidden;
    height: 38px; width: 98.2%;
    text-align: center;
    background-color: #14CFFF;
    border-radius: 10px;
    color: white;
    border-style: dotted;
    border-width: 3px;
    border-color: red;
}

ul {
    list-style-type: none;
    display: inline-block;
    block-size: 100px;
    margin: 0px;
    padding: 2px;
    font-size: 28px;
    word-spacing: 100px;
    font-family: 'Russo One', sans-serif;
    text-shadow: 2px 2px 4px pink;
  }

li {
    display: inline-block;
    
  }

li a:link {
    color: navy;
}

li a:visited {
    color: navy;
}

  li a:hover {
    color: hotpink;
    background-color: #14CFFF;
}


.photo {
    position: absolute;
    top: 200px; right: 10px; width: 98.6%; height: 74.5%;
    background-image: url(olddesktop.png);
    background-repeat: no-repeat;
    background-position: center;  
    z-index: 0;
}
  
.leftmenu {
    position: absolute;
    top: 30px;
    left: 45px;
    height: 520px;
    width: 200px;
    background-color: #FB847F;
    border-style: double;
    border-width: 8px;
    border-color: #FD5785;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 12px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px yellow;
  }

a:link {
    text-decoration: none;
    color: #6ECEB2;
}

a:visited {
    text-decoration: none;
    color: indigo;
}

a:hover {
    background-color: yellow;
}

htitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-shadow: 4px 4px 4px #000000;
}

.rightmenu {
    position: absolute;
    top: 30px;
    right: 45px;
    height: 520px;
    width: 200px;
    background-color: #FB847F;
    border-style: double;
    border-width: 8px;
    border-color: #FD5785;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 12px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px yellow;
  }

ctitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-shadow: 4px 4px 4px #000000;
}

  .tutorial {
    position: absolute;
    top: 18px;
    right: 525px;
  }


